@font-face { font-family: Geist; font-style: normal; font-weight: 400; font-display: swap; src: url('./Geist-400.woff') format('woff'); }
@font-face { font-family: Geist; font-style: normal; font-weight: 500; font-display: swap; src: url('./Geist-500.woff') format('woff'); }
@font-face { font-family: Geist; font-style: normal; font-weight: 600 900; font-display: swap; src: url('./Geist-600.woff') format('woff'); }
